//General style declarations 

html { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }  

.input-block-screen{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.game-logo {
	font-size: 40px;
	font-family: 'Cabin Sketch', cursive;
}

.game-screen-wrapper {
	display: none;
}

.highlight {
    background-color: #ED9355;
}

#submit-button {
	button {
		font-family: 'Dosis', sans-serif;
		background-color: #A7BD5B;
		&.pushed-button {
    	border-color: #8c8c8c;
    	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
		}
	}
}