//General style declarations 

html { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }  

.input-block-screen{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.game-screen-wrapper{
	display: none;
}

.highlight {
    background-color: #f49999;
}

#submit-button {
	button {
		background-color: lightgreen; 
	}
}