//General style declarations 

.game-screen-wrapper{
	display: none;
}

.highlight {
    background-color: #f49999;
}

#submit-button {
	button {
		margin-top: 2vh;
		background-color: lightgreen; 
	}
}
