//Created 2016-11-08 by Victor Glimskog
// This contains all styling for the start menu

.start-menu-wrapper{

	.vertical-spacer-m{
		height: 20px;
	}

	.vertical-spacer-xs{
		height: 10px;
	}

	.game-logo{
		font-size: 80px;
	}


	.player-registration-wrapper{
		height:60vh;

		.player-form{
			height: 60vh;

			.player{
				margin-bottom: 10px;

				.form-label{
					font-weight: bold;
				}
			}

			.form-label{
				font-size: 20px;
				vertical-align: bottom;
				margin-bottom: 0px;
			}	
		}
	}

}
