.table{
	font-size:15px; 
	border: solid black 2px;
	height: 100%;	
	& > thead > tr > th{
		font-weight: bold;
		border-right: solid black 1px;
		border-bottom: solid black 2px;
		height: 20px;
		padding-bottom: 2px;
	}

	& > tbody > tr > td {
		height:10px;
		border-right: solid black 1px;
		border-bottom: solid black 1px;
		padding:2px;
	}

	td.totalt{
		height: 20px;
		font-weight: bold;
	}
}

